{{ theSelection | json}}

<div style="padding:10px;">
    Cari barang Tokped ?
    Dari sini aja<br />
    filter pencarianmu akan disimpan<br />
    jadi kamu ga cape start over pasang filter ketika mencari barang<br />
    <br />
    <div style="position:fixed; right:10px; top: 10px; z-index: 999; " *ngIf="showTheComponent===true">
        <app-tokopedia-maintain-shop [locations]="titikTujuanAntar" (onRequestHide)="closeTheComponent()"
            [something]="selectedShop">
        </app-tokopedia-maintain-shop>
    </div>

    <p-card header="The Filter">
        <table>
            <tr>
                <td>
                    Merchant
                </td>
                <td>
                    <p-checkbox label="Power Merchant" [(ngModel)]="theSelection.powerMerchant"></p-checkbox>
                    &nbsp;
                    <p-checkbox label="Official Merchant" [(ngModel)]="theSelection.officialMerchant">
                    </p-checkbox>
                </td>
            </tr>
            <tr>
                <td>Kurir:</td>
                <td>
                    <app-button-changer [owner]="theSelection" label="GoSend" prop="shipping" [value]="10">
                    </app-button-changer>&nbsp;
                    <app-button-changer [owner]="theSelection" label="Anter Aja" prop="shipping" [value]="23">
                    </app-button-changer>
                </td>
            </tr>
            <tr>
                <td>Kondisi:</td>
                <td>
                    <app-button-changer [owner]="theSelection" label="Baru" prop="condition" value="1">
                    </app-button-changer>
                    &nbsp;<app-button-changer [owner]="theSelection" label="Bekas" prop="condition" value="2">&nbsp;
                    </app-button-changer>
                </td>
            </tr>
            <tr>
                <td>Lokasi:</td>
                <td>
                    <span *ngFor="let ooo of myParams.locations;">
                        <app-button-changer [owner]="theSelection" [label]="ooo.caption" prop="filterCity"
                            [value]="ooo.value"></app-button-changer>&nbsp;
                    </span>
                </td>
            </tr>
            <tr>
                <td>Harga Minimum</td>
                <td>
                    <button pButton (click)="clearTextBox('priceMin')" label="Clear"></button>
                    <input (keyup.enter)="onEnter($event);" pInputText type="number" [(ngModel)]="theSelection.priceMin" />
                </td>
            </tr>
            <tr>
                <td>Harga Maximum</td>
                <td>
                    <button pButton (click)="clearTextBox('priceMax')" label="Clear"></button>
                    <input (keyup.enter)="onEnter($event);" pInputText type="number" [(ngModel)]="theSelection.priceMax" />
                </td>
            </tr>
            <tr>
                <td>Kata Kunci</td>
                <td>
                    <button pButton (click)="clearTextBox('query')" label="Clear"></button>
                    <input (keyup.enter)="onEnter($event);" pInputText type="text" style="width: 50%;" [(ngModel)]="theSelection.query" />
                </td>
            </tr>
            <tr>
                <td colspan="90">
                    <hr style="height:5px;" />
                </td>
            </tr>

            <tr>
                <td>Exclude Kata Kunci</td>
                <td>
                    <button pButton (click)="clearTextBox('excludeKeyword')" label="Clear"></button>
                    <input pInputText type="text" style="width: 50%;" [(ngModel)]="theSelection.excludeKeyword" />
                </td>
            </tr>
        </table>

        <table style="width:100%;">
            <tr>
                <tD>
                    <p-button label="Cari" (click)="doSearch()" icon="pi pi-search"></p-button>
                </tD>
            </tr>
            <tr>
                <td>Munculkan Harga per
                   <input type="number" style="width:10ch;" [(ngModel)]="theSelection.hargaPer" pInputText>
                    pcs
                </td>
            </tr>
        </table>

        <style type="text/css">
            .table01 tr {
                vertical-align: top;
            }
        </style>
        <div [contextMenu]="yeahHehe">
            <p-card header="The Result">
                <button pButton (click)="doClearCache()" label="Clear Result Data Cache"></button>
                <div [class]="!something.visible ? 'hilang' : ''" *ngFor="let something of theResultsNya"
                    style="margin-bottom: 10px; border: solid 1px blue;">
                    <button pButton (click)="hideThis(something)" label="Hide This" style="font-size:0.5rem"></button>
                    <table class="table01">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>Nama</td>
                                        <td>:</td>
                                        <td>
                                            {{something.name}}<br />
                                            <img [src]="something.imageUrl" [class]="theSelection.theImgClass.code" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Toko</td>
                                        <td>:</td>
                                        <td>
                                            {{something.shop.name}}<br />
                                            <span style="cursor: pointer;">
                                                <span class="badge btn-success" (click)="excludeThis(something,'name')"
                                                    value="Exclude Result From This Shop">Exclude Result From This Shop
                                                </span>
                                            </span><br />
                                            <span style="cursor: pointer;">
                                                <span class="badge btn-success" (click)="manageShop(something.shop)"
                                                    value="Manage Shop Information">Manage Shop Information
                                                </span>
                                            </span><br />
                                            <pre *ngIf="cobaCoba(something.shop)!=null" >{{cobaCoba(something.shop) | json}}</pre>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Lokasi</td>
                                        <td>:</td>
                                        <td>
                                            {{something.shop.city}}<br />
                                            <span style="cursor: pointer;">
                                                <span class="badge btn-success" (click)="excludeThis(something,'city')"
                                                    value="Exclude Result From This City">Exclude Result From This City
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Harga</td>
                                        <td>:</td>
                                        <td>
                                            {{something.price | currency:"IDR"}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="theSelection.hargaPer>0">
                                        <td>Harga Per <u style="font-weight: bold;" >({{theSelection.hargaPer}})</u> pcs</td>
                                        <td>:</td>
                                        <td>
                                            {{something.price / theSelection.hargaPer | currency:"IDR"}}
                                        </td>
                                    </tr>
                                </table>
                                <button pButton label="Buka" (click)="onItemClick(something)"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </p-card>
        </div>
    </p-card>


    <context-menu #yeahHehe (open)="onMenuOpen($event)">
        <ng-template contextMenuItem (execute)="onExcludeFromMenu()">
            <p style="background-color: white;">
                Exclude {{selectedText}}
            </p>
        </ng-template>
    </context-menu>

</div>