<div style="background-color: whitesmoke; padding:5px;">
    <div style="white-space: pre-wrap; font-size:0.8rem">
        {{something | json}}
    </div>
    <table>
        <tr>
            <td>Kurir</td>
            <td>:</td>
            <td>
                <p-dropdown [options]="courierToMaintain" [(ngModel)]="selectedCourier" optionLabel="caption">
                </p-dropdown>
            </td>
        </tr>
        <tr>
            <td>Kirim Ke</td>
            <td>:</td>
            <td>
                <p-dropdown (onChange)="onTitikAntarChange($event.value)" editable="true" [options]="locations"
                    [(ngModel)]="xLocation"></p-dropdown>
            </td>
        </tr>
        <tr>
            <td>Biaya Dalam (Ribu)</td>
            <td>:</td>
            <tD><input (keyup.enter)="onSetGoSend()" pInputText type="number" [(ngModel)]="ribuPrice"></tD>
        </tr>
        <tr>
            <td>Sabtu Buka</td>
            <td>:</td>
            <td>
                <app-button-changer [owner]="something" prop="SabtuMingguBuka" value="Sabtu" label="Sabtu Buka"></app-button-changer>
                <app-button-changer [owner]="something" prop="SabtuMingguBuka" value="Minggu" label="Minggu Buka"></app-button-changer>
            </td>
        </tr>
    </table>
    <br />
    Bearer Token To Save To Database (Optional)<br />
    <input type="text" pInputText [(ngModel)]="xToken" /><br />
    <p-button label="Set" (click)="onSetGoSend()"></p-button>&nbsp;
    <p-button label="Remove {{xLocation}}" (click)="onRemoveLocation()"></p-button>&nbsp;
    <p-button label="Hide" (click)="onHide()"></p-button>
</div>