<div style="padding: 10px;" *ngIf="isLoggedOut != true && oUser==null">
Please wait<br/>
Checking Google Sign In Session
</div>
<p-card header="Welcome" *ngIf="oUser!=null && oUser!==undefined">
    <img [src]="oUser.photoURL" /><br/>
    <span [innerText]="oUser.displayName" ></span><br/>
    <span [innerText]="oUser.email" ></span><br/>
    <a href="logout">Log Out</a>
    <br/>
    <button pButton label="Copy Access Token" (click)="onGetTokenId()"></button>
    <br/>
</p-card>
<p-card header="Goodbye" *ngIf="isLoggedOut">
You are logged out<br/>
<br/>
<a href="login">Login</a>
</p-card>