Tap icon untuk simpan ke clipboard.<br>
Filter <input type="text" pInputText [(ngModel)]="theFilter.keyword"><br/>
<div *ngFor="let emo of myFunction()">
<b class="theIcon" (click)="onItemClick(emo)" >{{emo.value}} - {{emo.name}}</b><br>
keyword: {{emo.keyword}}
</div>