<div class="docMaintainJul">
    Search Article<br />
    <input type="text" (keyup.enter)="onEnter($event);" [(ngModel)]="leParam.leKeyword" pInputText style="width:25ch" /><br />
    <button (click)="doSearch();" pButton label="Search"></button>
    &nbsp;
    <button (click)="doNew();" pButton label="New Doc"></button>
    <br />
    <br />
    <div *ngFor="let ooo of browseAble">
        <a style="font-weight: bold; font-size: larger;" [href]="linkToDoc(ooo)" target="_blank">
            {{ooo.title}}
        </a>&nbsp;
        <a [href]="linkToEditDoc(ooo)" target="_blank">
            edit
        </a><br>
        Length: {{ooo.length}} byte(s)
        <hr />
    </div>
</div>