<table>
    <tr>
        <td>
            <p-dropdown optionLabel="caption" [options]="methods" ></p-dropdown>
        </td>
        <td>
            <input pInputText style="width:100ch;" [(ngModel)]="leConfig.URL" />
        </td>
    </tr>
    <tr>
        <td colspan="5">
<textarea style="width: 100ch; height:30ch;" [(ngModel)]="leConfig.bodyAsString" (ngModelChange)="onChange01($event)" >
</textarea>
        </td>
    </tr>
    <tr>
        <td>
            <button pButton label="Send" (click)="doSend()"></button>
        </td>
    </tr>
</table>