<div>
        <button [icon]="lang==='id' ? 'pi pi-check' : 'pi'" (click)="onLangChange('id')" pButton
                type="button" label="Bahasa" [disabled]="lang === 'id'"></button>

        <button [icon]="lang==='en' ? 'pi pi-check' : 'pi'" (click)="onLangChange('en')" pButton 
                type="button" label="English" [disabled]="lang === 'en'"></button>
        <br />
        <br />
        <div style="text-align: center;">

                Direct Whatsapp Free<br />
                <br />
                <span *ngIf="lang==='id'">
                        Memulai percakapan whatsapp tidak pernah semudah ini<br />
                        Tentukan nomor tujuan lalu tekan tombol Mulai<br />
                        <br />
                        Nomor Tujuan:
                </span>
                <span *ngIf="lang==='en'">
                        Start whatsapp conversation never been easier until now<br />
                        Just type your destination phone number and press Start to start chat<br />
                        <br />
                        Destination Phone Number:
                </span>
                <button class="p-button-warning" (click)="doClear()" [label]="lang==='id' ? 'Kosongkan' : 'Clear'"
                        pButton icon="pi pi-times" iconPos="left"></button><br />
                <br />
                <input type="number" pInputText [(ngModel)]="phNumber" style="width:70%;" /><br />
                <br />
                <button [label]="lang==='id' ? 'Mulai' : 'Start'" (click)="doKirim(null)" pButton icon="pi pi-send"
                        iconPos="left"></button>

        </div>
        <br />
        <br />

        <p-accordion>
                <app-my-phone-group 
                        *ngFor="let group of groups;"
                        [phones]="nomorTelpPenting"
                        [lang]="lang"
                        [functionToCall]="doKirim"
                        [phoneGroup]="group"></app-my-phone-group>
        </p-accordion>
</div>