<p-accordionTab *ngIf="phoneGroup !== undefined" [header]="lang==='id' ? phoneGroup.id : phoneGroup.en" >
    <table>
        <tr *ngFor="let ooo of groupedPhone">
            <td>
                {{ooo.caption}}
                <i class="pi pi-check-circle" *ngIf="ooo.isOfficial==true" style="font-weight: bold; color:green;" ></i>
            </td>
            <td>
                <button (click)="functionToCall(ooo.phone)" pButton icon="pi pi-send" iconPos="left"></button>
            </td>
        </tr>
    </table>
</p-accordionTab>