<div style="padding: 15px; font-size: 0.8rem; ">
<router-outlet></router-outlet>
<div style="white-space: pre; text-align: center;">
2021 Jomiuns.Com
owner@jomiuns.com
</div>
<ngx-spinner type="line-scale"></ngx-spinner>
</div>