<div >
<button (click)="onLoginClick()" label="Login" pButton></button><br/>

<div [innerHTML]="yooooo | safeHtml"></div>
<br/>
<p-card header="Roblox Games" *ngIf="something!=null" >
    <p-carousel [value]="something" numVisible="3">
        <ng-template let-roGame pTemplate="item">
<img style="height:3rem;" [src]="roGame.image" /><br>
{{roGame.title}}.<br>
<a [href]="roGame.url">Visit</a><br/>
        </ng-template>
    </p-carousel>
</p-card>
<br/>
<p-card header="Android Application" >
    <p-carousel [value]="androidApps" numVisible="3">
        <ng-template let-andApp pTemplate="item">
<img style="height:3rem;" [src]="andApp.imgUrl" /><br>
{{andApp.name}}.<br>
<a [href]="andApp.playstoreURL">PlayStore</a><br/>
        </ng-template>
    </p-carousel>
</p-card>
<br/>
</div>