<div *ngIf="membutuhkanPassword; else passwordAman">
Doc ini membutuhkan password<br>
<input type="password" pInputText [(ngModel)]="thePassword" ><br>
<button pButton label="Submit Password" (click)="setPassword()"></button>
</div>
<ng-template #passwordAman>
    <img crossorigin="anonymous" id="imageid" onload="saatLoad()" hidden />
    <canvas id="theCanvas" hidden></canvas>
    <input type="file" hidden id="something" onchange="doSomething(this)" />
    <button pButton (click)="onNew()" label="New Doc" icon="pi pi-add pi-plus"></button><br>
    <b>Doc Id</b>
    <p [innerText]="theObject.knowledgeID"></p>

    <b>Title</b><br>
    <input pInputText type="text" [(ngModel)]="theObject.title"><br />
    <br />
    <b>Friendly Title</b><br>
    <input pInputText type="text" [(ngModel)]="theObject.friendlyTitle"><b (click)="doViewLink()"
        class="pi pi-globe"></b><br />
    <br />
    <b>Publicity</b><br>
    <p-radioButton label="Public" value="public" [(ngModel)]="theObject.publicity"></p-radioButton><br>
    <p-radioButton label="Private" value="private" [(ngModel)]="theObject.publicity"></p-radioButton><br>
    <p-radioButton label="Passworded" value="password" [(ngModel)]="theObject.publicity"></p-radioButton>
    <input type="password" pInputText [(ngModel)]="thePassword" >
    <br>
    <br>
    <b>Content</b><br />

    <label style="cursor: pointer;" for="something">Insert Image</label> | <a href="javascript: selectionAsLink()">Set Selection as Link</a>

    <div id="ddddd" onblur="lastRange = window.getSelection().getRangeAt(0);" (keydown)="triggerFunction($event)" #div01 [innerHTML]="theObject.content | safeHtml"
        style="border: dashed 1px black; padding:5px;" contenteditable="true">
    </div>
    <br />
    <b>innerHTML Content</b><br />
    <textarea #txtArea onblur="ddddd.innerHTML = this.value" [value]="div01.innerHTML" style="width:100%; height:200px;"></textarea>
    <br />
    <div *ngIf="aUser==null">
        <b>Google Token ID</b>, you can save this doc without even <a href="/login">login</a> by using token id<br>
        <input (change)="onTokenChange($event)" type="text" style="width:80%;" pInputText [(ngModel)]="patchTokenId" />
    </div>
    <button label="Save" pButton (click)="onSave(div01.innerHTML, div01.innerText);"></button> atau
    <button label="Delete" pButton (click)="onDelete();"></button>
</ng-template>