<table>
    <tr>
        <td>Keyword</td>
        <td>:</td>
        <td><input (keyup.enter)="doSearch()" type="text" pInputText style="width:200px;" [(ngModel)]="theSelection.query" /></td>
    </tr>
    <tr>
        <td>Harga Min</td>
        <td>:</td>
        <td><input type="number" pInputText style="width:200px;" [(ngModel)]="theSelection.minPrice" /></td>
    </tr>
    <tr>
        <td>Harga Max</td>
        <td>:</td>
        <td><input type="number" pInputText style="width:200px;" [(ngModel)]="theSelection.maxPrice" /></td>
    </tr>
    <tr>
        <td>Lokasi</td>
        <td>:</td>
        <td>
            <app-button-changer *ngFor="let loc of theLocations" [owner]="theSelection" [label]="loc.caption"
                prop="locations" [value]="loc.caption">
            </app-button-changer>
        </td>
    </tr>
    <tr>
        <td>Promo</td>
        <td>:</td>
        <td>
            <app-button-changer *ngFor="let promo of thePromos; let xxx=index" [owner]="theSelection" [label]="promo.caption"
                (xOnItemCreated)="onItemCreated($event, xxx)"
                (onClick)="onButtonClicked($event)" prop="promos" [value]="promo.promoId">
            </app-button-changer>
        </td>
    </tr>

    <!-- <Tr>
        <td colspan="99">
            <hr/>
        </td>
    </Tr> -->
    <!-- <tr>
        <td>Exclude keyword</td>
        <td>:</td>
        <td><input [(ngModel)]="theSelection.excludeKeyword" type="text" pInputText style="width:400px;" /></td>
    </tr> -->
    <tr>
        <td>Urut berdasarkan</td>
        <td>:</td>
        <td>
            <p-dropdown [options]="theOrder" [(ngModel)]="theSelection.orderBy" optionLabel="caption" ></p-dropdown>
        </td>
    </tr>
</table>
<table style="width:100%;">
    <tr>
        <td>
            <button pButton label="Cari" (click)="doSearch()"></button>
        </td>
        <!-- <td>
            Ukuran Gambar: <p-selectButton [options]="ukuranGambar" [(ngModel)]="theSelection.theImgClass" optionLabel="name" optionValue="code"></p-selectButton>
        </td> -->
    </tr>
</table>

<!-- <div>
    <div [style]="!something.visible ? 'display: none;' : something.selected ? 'border: dashed 2px green;' : 'border: dotted 1px black;'"
        *ngFor="let something of theResultsNya">
        <table>
            <tr>
                <td>
                    Nama: {{something.name}}<br />
                    Toko: {{something.shopid}} <span style="cursor: pointer;">
                        <p-badge (click)="excludeThis(something,'shopid')" value="Exclude Goods From This Shop"></p-badge>
                    </span><br />
                    Lokasi: {{something.shop_location}} <span style="cursor: pointer;">
                        <p-badge (click)="excludeThis(something,'shop_location')" value="Exclude Goods From This City"></p-badge>
                    </span><br />
                    Harga: {{something.price}}<br />
                    <button (click)="onItemClick(something)">Buka</button>
                </td>
               
            </tr>
        </table>
    </div>
</div> -->