RedisKeys, RedisSet Auth Key<br />
<input [(ngModel)]="theParam.authKey" type="text" pInputText /><br />
<br />
Key Pattern<br />
<input [(ngModel)]="theParam.keyPattern" type="text" pInputText />
<button (click)="doCari();" pButton label="Cari"></button><br />
<br />
<span #yeahSomething id="yeahSomething">
    <span *ngIf="isMuncul===true">
        Value:
        <textarea [(ngModel)]="theParam.value" style="width:60%;height: 100px;"></textarea>
        <button (click)="doSaveValue()" pButton label="Save"></button>
        <button (click)="doHide()" pButton label="Close"></button>
    </span>
</span>
<button pButton (click)="doAddNew()" label="Add New Key"></button>
<div id="yeah01">
    <div *ngIf="isAddingNewKey===true">
        Key: <input type="text" [(ngModel)]="currentKey" pInputText>
    </div>
</div>
<div *ngFor="let ooo of theResult">
    <span (click)="doMaintain($event)">{{ooo}}</span><br>
</div>
