<div *ngIf="theYeah != null" style="font-size:4em;">
    <table>
        <tr *ngFor="let theItem of theYeah">
            <td>
                <label>
                    <input (change)="klhasglhkas($event, theItem);" type="checkbox" [(ngModel)]="theItem.isDone">
                    <s *ngIf="theItem.isDone">
                        {{theItem.title}}
                    </s>
                    <span *ngIf="theItem.isDone == false">
                        {{theItem.title}}
                    </span>
                </label>
            </td>
            <td>&nbsp;</td>
            <td>
                <button (click)="onDelete(theItem)" pButton icon="pi pi-times"></button>
            </td>
        </tr>
    </table>
</div>
<hr />
<input type="text" pInputText [(ngModel)]="theFoo.newTask"> <button (click)="onNew()" pButton
    icon="pi pi-plus"></button>